.about {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4em;
    padding: 6em;
    max-width: 1100px;
    margin: 0 auto;
}

.headshot img {
    width: 450px;;
    height: 30vw;
    object-fit: cover;
}

.bio {
    flex: 1;
    font-size: 1.1em;
    line-height: 1.8;
}

.headshot {
    flex-shrink: 0;
}

.contact-link {
    cursor: pointer;
    text-decoration: underline;
}